<div class="row">
    <div class="col-sm-12">
        <div class="container">
            <h2>Productos</h2>
            <caption>
                
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalNuevo">
                        Nuevo producto
                        <span><img src="/../images/icons/add.png" width="30" height="30"/></span>
                    </button>
               
            </caption>
            <h3>

            </h3>
            <table class="table table-hover table-condensed table-bordered table-success table-striped ">
                <tr>
                    <th>Id_product</th>
                    <th>tipo de producto</th>
                    <th>Nombre</th>
                    <th>Peso</th>
                    <th>Precio_unit</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>
                        <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalEdiciónm"><img src="/../images/icons/edit.gif" width="25" height="25"/></button>
                    </th>
                    <th>
                        <button class="btn btn-danger"><img src="/../images/icons/trash.gif" width="25" height="25"/></button>
                    </th>
                </tr>
            </table>
        </div>
    </div>
</div>