<div class="jumbotron-mt-4">
    <hl class="display-4">CANIN Y FELIN : pet shop</hl>
    <p class="lead">Encuentra los mejores productos para tus mascotas</p>
    <hr class ="my-4">
    <p>Informacion relevante de la tienda</p>
    <a href="htpp://google.com " class="btn btn-primary btn-lg"> Navegar</a>
</div>